body{
    /* background-color: #D3DEDC; */
    /* background-color: #7C99AC; */
    height: 100%;
    /* background-color: grey; */
    /* background: linear-gradient(to bottom,#1C658C,#EEEEEE ); */
}

header{
    
}

.Menu{
    background-color: #11324D;
    /* height: 100%; */
    max-width: 960px;
    height: 60px;
}
.Contact{
    display: flex;
    align-items: center;
}

.Logo-AP{
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.Correo{
    margin-left: 10%;
    margin-right: 5%;
}

.Linkedin{
    margin-left: 5%;
    margin-right: 5%;
}

.Github{
    
    margin-left: 5%;
    margin-right: 10%;
}

.Container-Button{
    height: 100%;
    align-items: center;
   background-color: transparent;
 
}

.Button{
    font-size: 20;
    float: inline-end;
    margin-top: 15px;
    background-color: transparent;
    color: #D3DEDC;
    border-radius: 15%;
    border-color: #D3DEDC;
    border-style:ridge;
}

.Header-Down{
    max-width: 960px;
    align-items: center;
    margin: auto;
    
}

.container-Banner{
    max-width: 960px;
    max-height: 676px;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

.Banner{
    
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.container-Foto-Perfil{
    max-width: 937px;
    margin: auto;
    align-items: center;
    border-style:ridge;
    border-width: 1px;
    border-top-style: none;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    border-color: lightgray;
    
}

.Foto-Perfil{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    margin-top: 10px;
}

.Descripcion{
   margin: center;
   text-align: center;
}

.contenedores-body{
    max-width: 940px;
    margin: auto;
    margin-top: 10px;
    border-style: ridge;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 3%;
}

.container-words{
    margin-bottom: 3%;
}

.Titulos{
   margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5%;
   text-align: center;
}

.img-container{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.Imagenes-contenido{
    /* align-self: flex-end; */
}

.container-text{
    text-align: match-parent;
}

.SubTitulos{
    display: block;
    margin-left: 10px;
    margin-bottom: 0px;
    
}


.Contenido{
    margin-left: 10px;
    margin-bottom: 0px;
}

@media (max-width:580px){
    .Linkedin, .Correo, .Github{
        scale: 0.8;
    }

    .Foto-Perfil{
        scale: 0.8;
        margin-top: 0px;
    }

    .Button{
        font-size: 15;
    }
    .container-Foto-Perfil{
        margin-top: 5px;
    }

    .img-container{
        width: 100% ;
    }

    .Imagenes-contenido{
        margin: auto;
        margin-bottom: 5px;
    }

    .SubTitulos{
        width: 100%;
        text-align: center;
        
    }

    .Contenido{
        width: 100%;
        text-align: center;
    }
}