<div>
    <app-titles Title="Experiencia"></app-titles>
    <div>
        <ul>
            <li class="lista" *ngFor="let exp of miExperiencia">
              <div class="prueba">  <app-information Image="./assets/images/ATEM.png" Title={{exp.nombre_empresa}} Description={{exp.descripcion}} Time="{{exp.fecha_inicio}} - {{exp.fecha_fin}}"></app-information><app-form-experiencia [id_obj]="exp.id" [id_per]="miPortfolio.id"></app-form-experiencia></div>
            </li> 
        </ul>
    </div>
    <app-titles Title="Educación"></app-titles>
    <div>
        <ul>
            <li class="lista" *ngFor="let edu of miEducacion">
                <app-information Image="./assets/images/FICH-logo.png" Title="{{edu.institucion}}" Description="{{edu.descripcion}}" Time="{{edu.fecha_inicio}} - {{edu.fecha_fin}}"></app-information>
            </li>
        </ul>
    </div>
    <div>
        <app-titles Title="Cursos"></app-titles>
    </div>
    <div>
        <ul>
            <li class="lista" *ngFor="let cur of miCurso">
                <app-information Image="./assets/images/logo-ArgentinaPrograma.png" Title="{{cur.nombre}}" Description="{{cur.descripcion}}" Time="{{cur.fecha_inicio}} - {{cur.fecha_final}}"></app-information>
            </li>
        </ul>
    </div>

    <div>
        <app-titles Title="Hard Skills & Soft Skills"></app-titles>
        <div>
            <ul>
                <li class="lista" *ngFor="let sk of miSkill">
                    <app-graphic name="{{sk.nombre_tecnologia}}" percentage="{{sk.habilidad_tecnologica}}"></app-graphic>
                </li>
            </ul>
            <div>
                <app-bar-skills></app-bar-skills>
            </div>
        </div>
    </div>
</div>
