<div>
    <div class="container"><app-titles Title="Experiencia"></app-titles><app-edit-button *ngIf="!mostrar_nueva_experiencia && portfolio" (click)="modo_edicion_experiencia($event)" ></app-edit-button><app-new-button *ngIf="!mostrar_edicion_experiencia && portfolio"  (click)="modo_nueva_experiencia($event)"></app-new-button></div>
    <div>
        
        <ul>
            <li class="lista" *ngFor="let exp of miExperiencia">
                 <div class="prueba"><app-information [portfolio]="portfolio" id="{{exp.id}}" name='exp' Image="{{exp.url_imagen}}"  Title={{exp.nombre_empresa}} Description={{exp.descripcion}} Time="{{exp.fecha_inicio}} - {{exp.fecha_fin}}"> </app-information><div class="delete"><app-delete-button *ngIf="mostrar_edicion_experiencia" [id]="exp.id" [path]="'experiencia'"></app-delete-button></div>
                <div class="container-form"><app-form-experiencia *ngIf="mostrar_edicion_experiencia" [id_obj]="exp.id" [id_per]="miPortfolio.id"></app-form-experiencia></div>
                
            </div>
            </li> 
            <div class="container-form"> <app-form-new-experiencia *ngIf="mostrar_nueva_experiencia" [id_per]="miPortfolio.id"></app-form-new-experiencia></div>
        </ul>
    </div>
    <div class="container"><app-titles Title="Educación"></app-titles><app-edit-button *ngIf="!mostrar_nueva_educacion && portfolio" (click)="modo_edicion_educacion($event)" ></app-edit-button><app-new-button *ngIf="!mostrar_edicion_educacion && portfolio"  (click)="modo_nueva_educacion($event)"></app-new-button></div>
    <div>
        <ul>
            <li class="lista" *ngFor="let edu of miEducacion">
                <div class="prueba"><app-information [portfolio]="portfolio" id="{{edu.id}}" name='edu' Image="{{edu.url_imagen}}" Title="{{edu.institucion}}" Description="{{edu.descripcion}}" Time="{{edu.fecha_inicio}} - {{edu.fecha_fin}}"></app-information><div class="delete"><app-delete-button *ngIf="mostrar_edicion_educacion" [id]="edu.id" [path]="'educacion'"></app-delete-button></div>
                    <div class="container-form"><app-form-update-educacion *ngIf="mostrar_edicion_educacion" [id_obj]="edu.id" [id_per]="miPortfolio.id"></app-form-update-educacion></div>
                </div>
            </li>
            <div class="container-form"><app-form-new-educacion *ngIf="mostrar_nueva_educacion" [id_per]="miPortfolio.id"></app-form-new-educacion></div>
        </ul>
    </div>
    <div>
       <div class="container"> <app-titles Title="Cursos"></app-titles><app-edit-button *ngIf="!mostrar_nueva_curso && portfolio" (click)="modo_edicion_curso($event)" ></app-edit-button><app-new-button *ngIf="!mostrar_edicion_curso && portfolio"  (click)="modo_nueva_curso($event)"></app-new-button></div>
    </div>
    <div>
        <ul>
            <li class="lista" *ngFor="let cur of miCurso">
                <div class="prueba"> <app-information [portfolio]="portfolio" id="{{cur.id}}" name='cur' Image="{{cur.url_imagen}}" Title="{{cur.nombre}}" Description="{{cur.descripcion}}" Time="{{cur.fecha_inicio}} - {{cur.fecha_final}}"></app-information><div class="delete"><app-delete-button *ngIf="mostrar_edicion_curso" [id]="cur.id" [path]="'curso'"></app-delete-button></div>
                    <div class="container-form"><app-form-update-curso *ngIf="mostrar_edicion_curso" [id_obj]="cur.id" [id_per]="miPortfolio.id"></app-form-update-curso></div>
                </div>
            </li>
            <div class="container-form"><app-form-new-curso *ngIf="mostrar_nueva_curso" [id_per]="miPortfolio.id"></app-form-new-curso></div>
        </ul>
    </div>

    <div>
        <div class="container"><app-titles Title="Hard Skills & Soft Skills"></app-titles><app-edit-button *ngIf="!mostrar_nueva_skills && portfolio" (click)="modo_edicion_skills($event)" ></app-edit-button><app-new-button *ngIf="!mostrar_edicion_skills && portfolio"  (click)="modo_nueva_skills($event)"></app-new-button></div>
        <div>
            <ul>
                <li class="lista" *ngFor="let sk of miSkill">
                    <div class="graphic"><app-graphic name="{{sk.nombre_tecnologia}}" percentage="{{sk.habilidad_tecnologica}}"></app-graphic><div class="delete_skill"><app-delete-button *ngIf="mostrar_edicion_skills" [id]="sk.id" [path]="'skills'"></app-delete-button></div></div>
                    <div class="container-skills"><app-form-update-skills *ngIf="mostrar_edicion_skills" [id_obj]="sk.id" [id_per]="miPortfolio.id"></app-form-update-skills></div>
                </li>
                <div class="container-skills"><app-form-new-skills *ngIf="mostrar_nueva_skills" [id_per]="miPortfolio.id"></app-form-new-skills></div>
            </ul>
            <div>
                <app-bar-skills></app-bar-skills>
            </div>
        </div>
    </div>

    <div class="container-contacto"><app-edit-button *ngIf="portfolio" (click)="modo_edicion_contacto($event)" ></app-edit-button><app-contacto telefono="{{miContacto.telefono}}" email="{{miContacto.mail}}"></app-contacto></div>
    <div class="container-form"><app-form-update-contacto *ngIf="mostrar_edicion_contacto" [id_per]="miContacto.id"></app-form-update-contacto></div>
</div>
