.lista{
    list-style: none;
}

.prueba{
    display: flex;
    width: auto;
}

.container{
    display: flex;
    width: auto;
    
}

.container_form{
    height: 100%;;
}

.container-skills{
    /* margin-left: 20%; */
    display: flex;
    justify-content: center;
}

.graphic{
    display: flex;
    margin-right: 3%;
    justify-content: center;
}

.delete_skill{
    display: flex;
}