<div>
    <app-titles Title="Experiencia"></app-titles>
    <div>
        <app-information Image="./assets/images/ATEM.png" Title="Atención al Público" Description="Asociación Trabajadores del Estado Mutual" Time="Septiembre 2013 - Actualidad"></app-information>
    </div>
    <app-titles Title="Educación"></app-titles>
    <div>
        <app-information Image="./assets/images/FICH-logo.png" Title="Facultad de Ingeniería y Ciencias Hídricas (FICH-UNL)" Description="Técnicatura en Diseño y Programación de Videojuegos" Time="2018 - en curso / 3 materias pendientes de aprobación"></app-information>
    </div>
    <div>
        <app-information Image="./assets/images/FICH-logo.png" Title="Facultad de Ingeniería y Ciencias Hídricas (FICH-UNL)" Description="Ingeniería en Informática" Time="2018 - en curso"></app-information>
    </div>
    <div>
        <app-information Image="./assets/images/EET478.png" Title="E.E.T N°478 Dr. Nicolás Avellaneda" Description="Educación Polimodal - Producción de Bienes y Servicios" Time="2006 - 2011"></app-information>
    </div>
    <div>
        <app-titles Title="Cursos"></app-titles>
    </div>
    <div>
        <app-information Image="./assets/images/logo-ArgentinaPrograma.png" Title="Argentina Programa" Description="#Yo Programo" Time="Febrero 2022 - Agosto 2022"></app-information>
    </div>
    <div>
        <app-information Image="./assets/images/logo-ArgentinaPrograma.png" Title="Argentina Programa" Description="#Se Programar" Time="Agosto 2021 - Octubre 2021"></app-information>
    </div>

    <div>
        <app-titles Title="Hard Skills & Soft Skills"></app-titles>
    </div>
</div>
