<header>
    <div class="container">
        <div class="Menu">
            <app-button-ap></app-button-ap>
            <div class="Contact">
                <app-button-mail></app-button-mail>
                <app-button-linkedin></app-button-linkedin>
                <app-button-git-hub></app-button-git-hub>
               
            </div>
            <div>
                <app-button-login></app-button-login>
            </div>
        </div>
    </div>
    <app-banner></app-banner>
</header>