<header>
    <div class="container">
        <div class="Menu">
            <app-button-ap Link="https://argentinaprograma.inti.gob.ar/"></app-button-ap>
            <div class="Contact">
                <app-boton-menu Link="" Image="./assets/images/logo-correo.png"></app-boton-menu>
                <app-boton-menu Link="https://www.linkedin.com/in/pablo-amico-5175bb21a/" Image="./assets/images/logo-linkedin.png"></app-boton-menu>
                <app-boton-menu Link="https://github.com/PabloAmico" Image="./assets/images/logo-GitHub.png"></app-boton-menu>
               
            </div>
            <div>
                <app-button-login></app-button-login>
            </div>
        </div>
    </div>
    <div>
        <app-banner></app-banner>
        
    </div>

    <div>
        <app-foto-perfil></app-foto-perfil>
    </div>
</header>