.Menu{
    background-color: #769FCD;
    /* background-color: #11324D; */
    max-width: 960px;
    height: 60px;
    display: flex;
    height: 60px;
    /* justify-content: space-between; */
    align-items: center;
}

.Contact{
    display: flex;
    justify-content:end;
    width: 80%;
}