.container-perfil{
    max-width: 960px;
    margin: auto;
    display: flex;
    border-bottom-style: double;
    border-bottom-color: black;
    
}

.container-foto{
    max-width: 960px;
    margin-right:25%;  
    /* margin-bottom: 50%; */
    display: flex;
    margin-bottom: 10px;
    margin-top: 1%;
}

.foto-Perfil{
    border-radius: 20px;
    display: flex;
    margin: auto;
   
}

.ciudad{
   text-align: center;
   margin:auto;
}

.lista{
    list-style: none;
}

.Descripcion{
    display: flex;
     margin-top: 20%; 
    /* margin-bottom: auto;  */
    text-align:start;
    align-items:center;
    max-width: 960px;
    min-width: 960px;
}

.Text{
    text-align: start;
    margin-top: 5%;
    margin-left: auto;
}
.NameContainer{
    display: flex;
    width: 100%;
    margin-left: 10%;
}

.Name{
    display:flex;
    margin: auto;
    align-items: center;
}

.Form{
    display: flex;
}

.container_full_sobre_mi{
    border-bottom-style: double;
    border-bottom-color: black;
}

.sobre_mi_conteiner{
    max-width: 960px;
    display: flex;
    justify-content: center;
    
}


.sobre_mi_title{
   margin: auto;
   display: flex;
}

@media (max-width:580px){
    .container-perfil{
        margin-top: 1%;
        margin: auto;
        display: flex;
        /* min-width: 360px; */
    }

    .container-foto{
        width: auto;
       flex: auto;
      scale: 0.9;
      margin-right: 5%;
    }
}