<div class="container-perfil">
    <div class="container-foto">
        <img src={{url}} alt="" class="foto-Perfil">
    </div>
    
    <div class="Descipcion">
        
        <div class="Name"><h2 class="Text"><strong>{{Nombre}}</strong></h2><app-edit-button (click)="modo_edicion($event)" ></app-edit-button></div>
        <div>
            <h4 class="Text">{{Puesto_1}}</h4>
            <div class="Form" *ngIf="mostrar"><form><input type="email" class="form-control"  aria-describedby="emailHelp"></form><app-save-changes-button></app-save-changes-button></div>
        </div>
        <div>
            <h4 class="Text">{{Puesto_2}}</h4>
            <div class="Form" *ngIf="mostrar"><form><input type="email" class="form-control"  aria-describedby="emailHelp"></form><app-save-changes-button></app-save-changes-button></div>
        </div>
        <div>
            <h4 class="Text">{{Localidad}}</h4>
            <div class="Form" *ngIf="mostrar"><form><input type="email" class="form-control"  aria-describedby="emailHelp"></form><app-save-changes-button></app-save-changes-button></div>
        </div>
    </div>
    
    
</div>
