body{
    margin-top: 0px;
    /* display: flexbox; */
    background-color: #B9D7EA;
    font-size: small;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.container{
    max-width: 960px;
    margin: auto;
}

.Button{
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width:580px) {
    .Button{
        scale: 0.8;
    }
   
}

